{% if job.state == "INACTIVE" %}<button class="btn" style="background-color:grey;color:white">{{ job.state }} 😴 </button>{% elif job.state == "RUN" %}
<button class="btn" style="background-color:grey">{{ job.state }} 🏃 </button>{% elif job.state == "CANCELLED" %}
<button class="btn" style="background-color:grey">{{ job.state }} 🎉  </button>{% elif job.state == "COMPLETED" %}
<button class="btn" style="background-color:grey">{{ job.state }} 🚧  </button>{% else %}
<button class="btn" style="background-color:skyblue">{{ job.state }}</button>
{% endif %}
