requests
fastapi
uvicorn
python-dotenv
aiofiles
python-multipart
jinja2
Markdown
pytest
pyaml
sqlalchemy
# needed by starlette
httpx
# install also provides alembic binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
