include README.md LICENSE
recursive-include flux_restful_client *.png
recursive-include flux_restful_client *.sh
recursive-include flux_restful_client *
recursive-include * *.png
prune env*
global-exclude .env
global-exclude *.py[co]
recursive-exclude .git *
global-exclude *.img
global-exclude *.simg
global-exclude *.sif
global-exclude __pycache__
